  mkdir -p /home/$USER/.config/autohotkey

  cp $1/template.txt.exemple /home/$USER/.config/autohotkey/template.txt

  echo "[Service]
  User=$USER
  WorkingDirectory=/usr/bin/
  ExecStart=autohotkey
  Environment=DISPLAY=:0
  Environment=XAUTHORITY=/home/$USER/.Xauthority

  [Install]
  WantedBy=multi-user.target
  WantedBy=xsession.target" >> ./autohotkey.service 

  mv $1/autohotkey.service $2/usr/lib/systemd/system/
