mkdir -p $2$HOME/.config/autohotkey

cp $1/template.txt.exemple $2$HOME/.config/autohotkey/template.txt
chmod a+rw $2$HOME/.config/autohotkey/template.txt

echo "[Unit]
After=xsession.target

[Service]
  User=$USER
  WorkingDirectory=/usr/bin/
  ExecStart=autohotkey
  Environment=DISPLAY=:0
  Environment=XAUTHORITY=/home/$USER/.Xauthority
  Restart=always

  [Install]
  WantedBy=multi-user.target
  WantedBy=xsession.target" >> ./autohotkey.service 

mv $1/autohotkey.service $2/usr/lib/systemd/system/