mkdir -p $2$HOME/.config/autohotkey

cp $1/template.txt.example $2$HOME/.config/autohotkey/template.txt
chmod -R a+rw $2$HOME/.config/autohotkey/

echo "[Unit]
After=xsession.target

[Service]
User=$USER
WorkingDirectory=/usr/bin/
ExecStart=autohotkey
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/$USER/.Xauthority
Restart=always
RestartSec=20s


[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
WantedBy=xsession.target" >> ./autohotkey.service 

mv $1/autohotkey.service $2/usr/lib/systemd/system/
